{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Rango is ...{% endblock %}

{% block content %}
    <p>This tutorial has been put together by apothuaud</p>
    <p>You visited rango {{ visit_count }} time{{ visit_count|pluralize:',s' }}</p>
    <img class="img-responsive img-resized" src="{% static 'img/about.png' %}"
                alt="Picture of Rango" />
    <img class="img-responsive img-resized" src='{{ MEDIA_URL }}cat.jpeg'
                alt="Picture of a cat" />
{% endblock %}
