{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}
    {% if category %}
        {{ category.name }} <small>category</small>
    {% else %}
        Category does not exist
    {% endif %}
{% endblock %}

{% block links %}
    {% if user.is_authenticated %}
        <li><a href="{% url 'rango:add_page' category_slug_name=category.slug %}">Add a Page</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if category %}
        {% if pages %}
            <h3>Pages <small>from {{ category.name }}</small></h3>
            <div class="col-xs-12"></div>
            <ul class="list-unstyled">
                {% for page in pages %}
                    <li><a href="{% url 'rango:goto' page.id %}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist !
    {% endif %}
{% endblock %}
