{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}

{% block title %}{{ selecteduser.username }} Profile{% endblock %}

{% block content %}
    <h1>{{selecteduser.username}} Profile</h1>
    {% if userprofile.picture %}
        <img class="thumbnail img-responsive" src="{{ MEDIA_URL }}{{userprofile.picture }}"
        width="300"
        height="300"
        alt="{{selecteduser.username}}" />
    {% else %}
        <img width="64" height="64" src="http://lorempixel.com/64/64/people/"/>
    {% endif %}
    <br/>
    <div>
        {% if selecteduser.username == user.username %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" />
            </form>
        {% else %}
            <p><strong>Website:</strong> <a href="{{userprofile.website}}">
            {{userprofile.website}}</a></p>
        {% endif %}
    </div>
    <div id="edit_profile"></div>
{% endblock %}